<!-- TWO WAY BINDING -->


<!-- <div class="col-md-4 offset-md-4 card card-body mt-5">
    <input type="text" [(ngModel)]="dataFromInput" class='form-control'>
</div>
<button class="btn btn-primary" (click)='buttonEvent(dataFromInput)'>Give Alert</button> -->



<!-- <div class="col-md-4 offset-md-4 card card-body mt-5">
        <input type="text" [(ngModel)]="dataFromInput" class='form-control' (keyup)='buttonEvent(dataFromInput)'>
    </div>
<button class="btn btn-primary">Give Alert</button> -->



<div class="col-md-4 offset-md-4 card card-body mt-5">
        <input type="text" [(ngModel)]="dataFromInput" class='form-control'>
    </div>
<h1 class="text-center" [style.background]="backgroundColor">Event and Property Binding</h1>
<button class="btn btn-primary" (click)="changeColor(dataFromInput)">Change Color</button>



<!-- <div class="col-md-4 offset-md-4 card card-body mt-5">
        <input type="text" [(ngModel)]="dataFromInput" class='form-control'>
    </div>
<h1 class="text-center" [style.background]="backgroundColor">Event and Property Binding</h1>
<button class="btn btn-primary" (click)="changeColor()">Give Alert</button> -->



<!-- <div class="col-md-4 offset-md-4 card card-body mt-5">
        <input type="text" [(ngModel)]="dataFromInput" class='form-control'>
    </div> -->
<!-- <h1 class="text-center">{{dataFromInput}}</h1> -->
<!-- <img src="{{dataFromInput}}" alt=""> -->
<!-- EVENT BINDING -->
<!-- <button class="btn btn-primary" onClick='alert("Hellloo Sriii?")'>Give Alert</button> -->
