table, th, td{
    border:1px solid black;
    border-collapse: collapse;
    padding: 5px;
    background-color: gray;
}
table{
    width: 30%;
}
caption{
    font-style: italic;
    background-color: gray;
}