.img-div{
    float: left;
    border: 1px solid  rgb(105, 10, 105);
    border-radius: 30px;
    overflow: hidden;
    text-align: center;
}
img{
    width: 250px;
    height: 250px;
    transition: all 5s;
}
img:hover{
     transform: scale(2,2);  /* scale(width,height)  helps to zoom*/

}
.desc{
    margin-top: 10px;
    font-family: cursive;
}