 <div class="container">
            <input type="search" class="form-control" [(ngModel)]='search'>
        <table class="table table-bordered table-hover">
            <thead>
                <tr style="background-color:purple;color:white;">
                    <th>Id</th>
                    <th>Brand</th>
                    <th>Model</th>
                    <th>Year Of Release</th>
                    <th>cost</th>
                    <th>Units Sold</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr style="background-color:yellowgreen;color:white;" *ngFor='let car of carService.cars|search : search;index as i'>
                    <td>{{i+1}}</td>
                    <td>{{car.brand}}</td>
                    <td>{{car.model}}</td>
                    <td>{{car.year}}</td>
                    <td>{{car.cost}}</td>
                    <td>{{car.sold}}</td>
                    <td>
                        <button class="btn btn-warning" (click)="updateCar(car)">Update</button>
                    </td>
                    <td>
                         <button class="btn btn-danger" (click)="deleteCar(car)">Delete</button>
                    </td>
                </tr>
            </tbody>
            </table> 
    </div>
    