<div class="col-md-6">
<div class="col-md-6 float-left"  *ngFor="let product of productFirebaseService.products;index as i">
  <div class="card card-body">
    <img class="card-img-top" src="{{product.image}}" alt="Card image cap">
      <h5 class="card-title">{{i+1}}</h5>
      <h3 class="list-group-item">{{product.name}}</h3>
      <h5 class="list-group-item">{{product.price}}</h5>
      <h6 class="list-group-item">{{product.details}}</h6>
      <button class="btn btn-danger btn-lg btn-block" (click)="deleteProduct(product)">Delete</button>
      <button type="button" class="btn btn-warning btn-lg btn-block" (click)="updateProduct(product)">Update</button>
    </div>
  </div>
  </div>
      <!-- <button type="button" class="btn btn-warning btn-lg btn-block" data-toggle="modal" data-target="#target">Update</button>
    </div>
  </div>
  </div>
  <div id="target" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <form #productForm='ngForm' (ngSubmit)="updateProduct(productForm)">

                  <div class="form-group">
                      <input type="hidden" name="id" class="form-control mb-3 mt-3"
                      #id='ngModel' [(ngModel)]="productFirebaseService.selectedProduct.id">
                  </div>
          
                  <div class="form-group">
                  <label for=""><b>Name</b></label>
                  <input type="text" name="name" class="form-control mb-3 mt-3"
                  #name='ngModel' [(ngModel)]="productFirebaseService.selectedProduct.name" placeholder="enter your name">
                  </div>
          
                  <div class="form-group">
                  <label for=""><b>Price</b></label>
                  <input type="number" name="price" class="form-control mb-3 mt-3"
                  #name='ngModel' [(ngModel)]="productFirebaseService.selectedProduct.price" placeholder="enter your price">
                  </div>
                   
                  <div class="form-group">
                  <label for=""><b>Copy Image Address</b></label>
                  <input type="text" name="image" class="form-control mb-3 mt-3"
                  #name='ngModel' [(ngModel)]="productFirebaseService.selectedProduct.image">
                  </div>
          
                  <div class="form-group">
                  <label for=""><b>Enter product details</b></label>
                  <textarea name="details" class="form-control mb-3 mt-3"
                  #name='ngModel' [(ngModel)]="productFirebaseService.selectedProduct.details" 
                  placeholder="enter product details"></textarea>
                  </div>
          
                  <button type="submit" class="btn btn-success float-right">Submit</button>
              </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Save changes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div> -->